body {
    height: 1000px;
    background: no-repeat linear-gradient(to top left, powderblue, pink);
}

.wpapper {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a.play-button {
    display: block;
    margin: 35px auto;
    font-weight: 700;
    width: max-content;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64, 199, 129);
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
    transition: 0.2s;
}

a.play-button:hover {
    background: rgb(53, 167, 110);
}

a.play-button:active {
    background: rgb(33, 147, 90);
    box-shadow: 0 3px rgb(33, 147, 90) inset;
}

form {
    width: 500px;
    min-height: 400px;
    height: auto;
    border: 1px black solid;
    border-radius: 25px;
    margin: 2% auto;
    padding: 2%;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.91);
    background: no-repeat linear-gradient(to top right, powderblue, lightpink 50%, pink, lightskyblue 75%);
}

#play-form {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

#result {
    text-align: center;
    /*padding: 10px 5px;*/
    width: 250px;
}

#count {
    margin-top: 20px;
    text-align: center;
}

.inputs {
    padding: 10px;
    font-size: 12px;
    border: 3px solid rgba(202, 179, 195, 0.5);
	background: #F6F6f6;
	border-radius: 8px;
    margin: 0 auto;
}

.inputs:focus {
  border: 3px solid rgba(207, 61, 163, 0.5);
  border-radius: 8px;
}

textarea {
  overflow: auto;
  resize: none;
}

@media only screen and (max-width: 549px) {
    #result {
        width: 80%;
    }

    #count {
        width: 50%;
    }

    form {
        width: 85%;
    }
}
